<% if logged_in? %>
  <%= render 'shared/logged_in' %>
<% else %>
  <%= render 'shared/not_logged_in' %>
<% end %>

<div class="home-hero">
  <%= link_to image_tag("Pikachu.png", alt: "Pikachu logo"),
      'https://tianyuancuipan.github.io/' %>
</div>
