<footer class="footer">
  <small>
    <a href="https://tianyuancuipan.github.io/">Tianyuan Cui Pan (Anny)</a>
  </small>

  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://tianyuancuipan.github.io/blog/">Blog</a></li>
    </ul>
  </nav>

</footer>
